/* ============================================================================================================
   GOLBAL
============================================================================================================= */
*{ /*Reset*/
  box-sizing: border-box;
  margin:0;
  padding:0;
  width: 100vw;
  height: 100vh;
}

/*accesibility*/
    #skip_to {
      position: fixed;
      left: 0;
      top: 0;
      opacity: 0;
    }
    #skip_to:focus {
      opacity: 1;
    }

.container{
  width:100vw;
  height: 100vh;
}

/* ====================================
   CUSTOM PROPERTIES
===================================== */

:root {
  --field-drab: #64572A;
  --mango-tango: #F3854A;
  --sunray: #EDAF5A;
  --macaroni: #FEB97E;
  --caramel: #FDD8A1;
  --general-text: 'IBM Plex Sans', sans-serif;
  --title-text: 'Josefin Sans', sans-serif;
}


/* ====================================
   UTILITY CLASSES
===================================== */
.title-bold{
  font-family: 'Josefin Sans',sans-serif;
  font-weight: bold;
}

.title-semibold{
  font-family: 'Josefin Sans',sans-serif;
  font-weight: semibold;
}

.title-regular{
  font-family: 'Josefin Sans',sans-serif;
  font-weight: regular;
}

.general-text-bold{
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
}

.general-text-semibold{
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: semibold;
}

.general-text-regular{
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: regular;
}



/* ============================================================================================================
   HOME PAGE
============================================================================================================= */

img .homeimage {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  width: 500px;
}
