
/* ============================================================================================================
   GLOBAL
============================================================================================================= */
*{ /*Reset*/
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-size:16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5em;
}

body{
  width: 100%;
  min-height: 100%;
}

/* ====================================
   CUSTOM PROPERTIES
===================================== */

:root {
  --field-drab: #64572A;
  --mango-tango: #F3854A;
  --sunray: #EDAF5A;
  --macaroni: #FEB97E;  
  --caramel: #FDD8A1;
  --black:#262A2D;
  --general-text:'IBM Plex Sans', sans-serif;
  --title-text:'Josefin Sans', sans-serif;
}


/* ====================================
   UTILITY CLASSES
===================================== */
.title-bold{
  font-family:  var(--title-text);
  font-weight: 700;
}

.title-semibold{
  font-family: var(--title-text);
  font-weight: 600;
}

.title-regular{
  font-family: var(--title-text);
  font-weight: 400;
}

.general-text-bold{
  font-family: var(--general-text);
  font-weight: 700;
}

.general-text-semibold{
  font-family: var(--general-text);
  font-weight: 600;
}

.general-text-regular{
  font-family: var(--general-text);
  font-weight: 400;
}

/*===================================== */

/* ============================================================================================================
   HOME PAGE
============================================================================================================= */

.main-home{
  background-image: url(img/camille-brodard-VxAwTeiqDao-unsplash_Home.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: grid;
  grid-template-columns: 
  1fr /*para hacer responsive dejar los lados con francion para que se adapte*/
  repeat(12,minmax(0,80px))     /*Para hacer las columns de XD, se examina cada item y se divide entre las columnsa que ocupa*/
  1fr
  ;
  grid-column-gap: 20px;
  grid-template-rows: /*ir midiendo cada componente para determinar altura*/
  78px
  35px
  1fr
  50px
  ;
  grid-template-areas: 
  " . . . . . . . . . . contact contact contact ."
  ". header header header header header header header header header header header header ."
  ". . . . . . . . .  title title title title ."
  ". . . . . . . . . . . . . chat"
  ;

}

.contact{
  grid-area:contact;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

.contact-main{
  height: 50px;
  background-color: var(--caramel);
  text-align: center;
  border-radius: 0 0 5px 5px;
}

.contact-main p{
  font-size: 0.85rem;
  color: var(--field-drab);
}

header{
  background-color: rgba(45,45,45,0.1);
  grid-area:header;
}

.nav-bar{
  display: flex;
  justify-content: space-around;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

.nav-bar a {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--black);
}

.title{
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  grid-area:title;
}

.title-main{
  margin-top: 4.5rem;
  color: whitesmoke;
  font-size: 2.6rem;
  text-align: center;
}

/*https://stackoverflow.com/questions/18749276/css-on-hover-show-another-element*/
/*PENDIENTE*/
.content{
  display: inline-block;
}
.chat{
  background-color:gray;
  grid-area:chat;
  margin-right: 25px;
  display: block;
  color: red;
}

 #chat:active{
  display:block;
  z-index: 1;
}



#chat {
  display:none;
  background-color: #00897b;
  color: #fff;
  cursor: pointer;
  height: 300px;
  text-align: center;
  width: 260px;
  position: absolute;
  bottom: 0;
  right: 0;
  border: 1px solid rgba(0,0,0,0.4);
}

.chat:active{
  display:none
}

/* ============================================================================================================
   ABOUT PAGE
============================================================================================================= */

.main-about{
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: grid;
  grid-template-columns: 
  1fr /*para hacer responsive dejar los lados con francion para que se adapte*/
  repeat(12,minmax(0,80px))     /*Para hacer las columns de XD, se examina cada item y se divide entre las columnsa que ocupa*/
  1fr
  ;
  grid-column-gap: 20px;
  grid-template-rows: /*ir midiendo cada componente para determinar altura*/
  90px
  275px
  1fr
  ;
  grid-template-areas: 
  " . title title title title . . . . . . . . ."
  " . text text text text text text text social social social social social social"
  " . photos photos photos photos photos photos photos photos photos photos photos photos."
  ;

}

.title-about{
  grid-area: title;
  font-size: 1.9rem;
  color: var(--field-drab);
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

.text-about{
  grid-area: text;
  color: var(--field-drab);
  text-align: justify;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

.text-about p{
  font-size: 1.2rem;
}

.social-media{
  grid-area: social;
  background: var(--caramel);
  height:87.6vh; /*NOTE MEDIA QUERY DEFINIR */
}

.photos-about{
  grid-area: photos;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

.image-about{
  max-width: 100%;
  display: block;
  height: auto;
}

/*continuar hacer grid de imagenes responsive*/

@media screen and (max-width:480px){


  .main-home{
 
  grid-template-areas: 
  " . . . . . . . . . . contact contact contact contact"
  "header header header header header header header header header header header header header header"
  "title title title title title title title title title  title title title title title"
  ". . . . . . . . . . . . . chat"
    ;
    grid-template-rows: /*ir midiendo cada componente para determinar altura*/
    35px
    35px
    1fr
    50px
    ;
    }

  { /* desapear a section from mobile */
    display:none;
  }  
}
