/* ============================================================================================================
   GOLBAL
============================================================================================================= */
*{ /*Reset*/
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body{
  width: 100%;
  min-height: 100%;
}

/*accesibility*/
    #skip_to {
      position: fixed;
      left: 0;
      top: 0;
      opacity: 0;
    }
    #skip_to:focus {
      opacity: 1;
    }


/* ====================================
   CUSTOM PROPERTIES
===================================== */

:root {
  --field-drab: #64572A;
  --mango-tango: #F3854A;
  --sunray: #EDAF5A;
  --macaroni: #FEB97E;
  --caramel: #FDD8A1;
  --general-text: 'IBM Plex Sans', sans-serif;
  --title-text: 'Josefin Sans', sans-serif;
}


/* ====================================
   UTILITY CLASSES
===================================== */
.title-bold{
  font-family: 'Josefin Sans',sans-serif;
  font-weight: bold;
}

.title-semibold{
  font-family: 'Josefin Sans',sans-serif;
  font-weight: semibold;
}

.title-regular{
  font-family: 'Josefin Sans',sans-serif;
  font-weight: regular;
}

.general-text-bold{
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
}

.general-text-semibold{
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: semibold;
}

.general-text-regular{
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: regular;
}


.main{        /*Background can take all the space avaliable*/
  display: block;
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
  counter-reset: section 0;
  margin: 0px auto; /*Background responsive */
}

.header{
  position: absolute;
  z-index: 1; /*Text in front of Background*/
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}

/* ============================================================================================================
   HOME PAGE
============================================================================================================= */
.container-home::after{ /*Only way to set background*/
  content:'';
  height: 100vh;
  width:100%;
  background-image: url(img/camille-brodard-VxAwTeiqDao-unsplash_Home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block; 
  margin-top:-2.4rem; /*Background move to cover the entire space*/
}

.showcase-home{
  position: absolute;
  z-index: 1; /*Text in front of Background*/
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}
